<div class="section-container">
  <section class="hidden section">
    <div class="balloon" (click)="showText('aboutIntroText', $event)">
      <div class="ball">Backstory</div>
      <div class="stick"></div>
    </div>
    <app-text-block
      class="block"
      id="aboutIntroText"
      headerText="Backstory"
      [sectionBlockText]="aboutIntroText"
    ></app-text-block>
  </section>
  <section class="hidden section">
    <div class="balloon reverse" (click)="showText('goalsText', $event)">
      <div class="ball">Goals</div>
      <div class="stick"></div>
    </div>
    <app-text-block
      class="block"
      id="goalsText"
      headerText="Goals"
      [sectionBlockText]="goalsText"
    ></app-text-block>
  </section>
  <section class="hidden section">
    <div class="balloon" (click)="showText('aboutTechText', $event)">
      <div class="ball">Tech Overview</div>
      <div class="stick"></div>
    </div>
    <app-text-block
      class="block"
      id="aboutTechText"
      headerText="Tech Overview"
      [sectionBlockText]="aboutTechText"
    ></app-text-block>
  </section>
  <section class="hidden section">
    <div class="balloon reverse" (click)="showText('hobbyText', $event)">
      <div class="ball">My Hobbies</div>
      <div class="stick"></div>
    </div>
    <app-text-block
      class="block"
      id="hobbyText"
      headerText="My Hobbies"
      [sectionBlockText]="hobbyText"
    ></app-text-block>
  </section>
</div>
