@import '../../styles.scss';

.navbar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-block-end: 2px solid #000;
}

.navbar__route-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-inline: 2rem;
}

.navbar__header {
  padding-inline: 5rem;
  font-size: 2rem;
  font-weight: 700;
}

.navbar__link {
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #000;
  @include btn-border-drawing(#fff, #333, #ffffff, #1fdac7, #000, #000, 4px, bottom, right);
  
  &.active {
    color: #000;
    font-weight: 600;
    background: linear-gradient(to bottom, #b0c9b1, #1fdac7); 
  }
}

#menu-btn {
  margin-inline-end: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

#menu-icon {
  font-size: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
}

