.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.router-outlet-container {
  flex: 1;
  overflow-y: auto;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/trianglify-lowres.png');
}

.side-menu__container {
  display: flex;
  flex-direction: column;
}

.side-menu__link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}