<mat-drawer-container hasBackdrop="true">
  <mat-drawer #drawer mode="over" position="end" disableClose="true">
    <div class="side-menu__container">
      <button class="side-menu__link-btn" *ngFor="let link of navigationLinks" (click)="navigateInApp(link.route)">{{ link.displayName }}</button>
      <button class="side-menu__link-btn" (click)="closeSidePanel()">
        Close <mat-icon color="primary">close</mat-icon>
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="app-container">
      <app-navigation-bar></app-navigation-bar>
      <div class="router-outlet-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
