.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.router-outlet-container {
  flex: 1;
  overflow-y: auto;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/trianglify-lowres.png');
}

.side-menu__container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  gap: 1.5rem;
  margin-block-start: 4rem;
  margin-inline: 1rem;
}

.side-menu__link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  background-color: #eee;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
}

::ng-deep {
  .mat-drawer-inner-container {
    background-color: #b0c9b1;
  }
}